.background    { background: rgb(114, 16, 22);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(69, 138, 168); }
.wall          { background: white;   }
.portal { background: green; }
.speed { background: pink; }

.actor  { position: absolute;  }
.coin   { background: rgb(2255, 255, 179); }
.player { background: yellow; }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
